// fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500');

// animation
$animation-rate: 0.75s;
$animation-rate-fast: 0.2s;

// core palette
$base-dark: #111010;
$base-light: #F6F5F1;
$base-light-dimmed: #E8E3E0;
$base-highlight: #ECCC87;

// screen size break points
$break-medium: 900px;
$break-small: 400px;

// setup, resets
* {
  box-sizing: border-box;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  text-rendering: optimizeLegibility;
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  background-color: $base-dark;
}

// TESTING SCROLLAMA
// .step {
//   display: block;
//   width: 100%;
//   height: 700px;
//   text-align: center;
//   margin: 900px 0;
// }
// .intro {
//   width: 100%;
//   height: 1200px;
//   background: pink;
//   color: blue;
//   font-size: 60px;
//   padding: 200px 0;
//   text-align: center;
// }

// grid layout
.cover {
  height: 100vh;
  width: 100vw;
  background: beige;
  text-align: center;
  span {
    display: inline-block;
    padding-top: 45vh;
    vertical-align: middle;
    font-size: 48px;
    font-weight: 900;
    opacity: 0.8;
  }
}
.explore {
  display: grid;
  padding: 0 10px;
  grid-template-areas: "a a";
  grid-gap: 40px;
  // grid-auto-columns: minmax(90px, 700px); // KEEP for large view
  grid-auto-columns: 70% 30%;
  // min-width: 1000px; // // KEEP for large view
  position: relative;
  &.media-list-view {
    grid-auto-columns: 30% 70%;
    transition:all $animation-rate ease;
  }
  // smallest screens
  @media screen and (max-width: 500px) {
    padding: 100px 0 0 10px;
    &.media-list-view {
      grid-auto-columns: 0 auto;
      grid-gap: 0px;

      .media-list {

      }
    }
  }

}
.chart {
  position: sticky;
  justify-self: end;
  top: 40px;
  // height: 700px; // Is this still needed for chart view?
  display: grid;
  // grid-template-areas: "a a a a a a a a a" // KEEP for chart view
                       // "b b b b b b b b b";
  grid-template-areas: ". . . . . . . . ."
  "footer footer footer footer footer footer footer footer footer";
  // grid-gap: 2px;
  grid-auto-columns: minmax(60px, 90px);
  grid-template-rows: 790px auto;

  .media-list-view & {
    grid-auto-columns: minmax(30px, 40px);
  }
    @media screen and (max-width: $break-medium) {
      grid-auto-columns: 10% 90%;

      .year-plot:not(.selected-year) {
        display: none;
      }
      // .media-list .item {
      //   font-size: 18px;
      // }
    }
}
.controls {
  // max-width: 800px;
  overflow: auto;
  height: 100vh;
  position: relative;

  // span {
  //   display: inline-block;
  //   height: 1000px;
  //   padding: 400px 0 900px 0;
  //   text-align: center;
  // }
}

// header
header {
  grid-column-start: 1;
	grid-column-end: 3;
  .title {
    float: left;
    font-family: 'IBM Plex Serif', Georgia, serif;
    font-weight: 300;
    font-size: 24px;
    color: $base-light;
    padding: 20px 0 0 30px;
  }
  .options {
    float: right;
  }
}
h1 {
  margin: 0 auto;
  color: $base-light;
  font-size: 24px;
  font-family: 'IBM Plex Serif', Georgia, serif;
  font-weight: 500px;
}

// radial progress
.progress-circle-container {
  position: sticky;
  //top: calc( ((100vh - 768px) / 2) - 15px);
  top: 40px;
  left: calc(100% - 280px);
  // left: 730px; // TODO: improve positioning, makethis relative to the right edge of the media list
  width: 90px;
  // margin-left: 740px;
  padding: 15px 15px;
  background-color: rgba(17,17,17,0.6);
  z-index: 200;
  border-radius: 100%;
}
.progress-circle {
  width:60px;
  height:60px;
  display: block;
  // z-index: 100;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
  circle.progress-disk {
    transition: all 0.5s ease;
    opacity: 0.8;
    stroke: #fff;
    fill: rgba(80, 80, 80, 0.70);
  }
  .progress-year {
    transform: rotate(90deg);
    font-size: 10px;
    font-family: "IBM Plex Mono", monospace;
    fill: #fff;
  }
}

// scrollable media list
// offset for types of list items
$bookOffset: 20;
$playOffset: 15;
$movieOffset: 0;
$shortOffset: 10;
$tvOffset: 5;
$specialOffset: 0;
$defaultOffset: 45;
.media-list {
  position: relative;
  // margin-top: 40px;
  .year-nav {
    position: sticky;
    overflow: hidden;
    background: $base-dark;
    z-index: 100;
    width: 100%;
    top: 0;
    display: block;
    padding: 0 0 10px 20px;
    .year {
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      margin-right: 15px;
      color: rgba(246,245,241, 0.7);

    }
    & .selected {
      display: inline-block;
      color: $base-light;
      opacity: 1;
      border-bottom: 1px solid $base-light;
    }
  }

  // base media list item appearance
  $title-color: #3a3a3a;

  .item {
    position: relative;
    x-justify-content: space-around;
    x-align-items: stretch;
    align-items: center;
    margin-top: 2px;
    padding: 17px 30px;
    background-color: $base-light-dimmed;
    font-size: 23px;
    max-width: 720px;
    .title {
      flex: 1;
      font-family: 'IBM Plex Serif', Georgia, serif;
      font-weight: 500;
      color: $title-color;
    }
    .credit,
    .year {
      font-family: 'IBM Plex Serif', Georgia, serif;
      color: $title-color;
      opacity: 0.6;
      font-weight: 400;
    }
    .year {
      width: 50px;
      text-align: right;
      margin-left: 10px; // buffer between title and year
    }
    &:hover {
      cursor: pointer;
    }
    &.chart-selection-highlight {
      background-color: $base-highlight;
    }
    // shrink for smaller screens
    @media screen and (max-width: $break-medium) {
      font-size: 18px;
    }
    @media screen and (max-width: $break-small) {
      font-size: 14px;
      margin-right: 70px;
      padding: 10px 15px;
    }
  }
  // READ: books and plays
  .play,
  .book {
    padding: 22px 30px;
    font-family: 'IBM Plex Serif', Georgia, serif;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    .title,
    .credit {
      display: block;
      color: $title-color;
      flex-grow: 1;
      text-align: left;
    }
    .title {
      width: 100%;
    }
    .credit {
      width: 100%;
      font-weight: 400;
    }
  }
  .book {
    margin-left: $bookOffset+px;
  }
  .play {
    margin-left: $playOffset+px;
  }
  // SEEN: TV, movies, shorts
  .tv,
  .movie,
  .short {
    border-radius: 8px;
    background-color: $base-light;
    .title,
    .year {
      font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    }
    .title {
      font-weight: 500;
    }
  }
  .tv {
    text-align: center;
    margin-left: $tvOffset+px;
  }
  .movie,
  .short {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    .title {
      flex: 1;
    }
    .year {
      width: 75px;
      @media screen and (max-width: $break-medium) {
        width: 60px;
      }
      @media screen and (max-width: $break-small) {
        width: 45px;
      }
    }
  }
  .movie {
    margin-left: $movieOffset+px;
  }
  .short {
    margin-left: $shortOffset+px;
  }
  // special items - usually filming starts on a Soderbergh project
  .special {
    max-width: 720px;
    text-align: center;
    border-radius: 8px;
    background-color: #333;
    padding-top: 25px;
    padding-bottom: 25px;
    // margin-top: 3px;
    // margin-bottom: 3px;
    // background-color: darken($base-light-dimmed, 75%);
    .title {
      color: $base-light;
      font-weight: 400;
    }
    &.chart-selection-highlight .title {
      color: #3a3a3a;
      font-weight: 500;
    }
  }
  // $notesOffset: 760px;
  .details {
    position: absolute;
    display: block;
    width: 33.33%;
    height: 100%;
    // border-left: 1px solid $base-light-dimmed;
    color: $base-light-dimmed;
    padding: 0px 15px 0 $defaultOffset+px;
    top: 0px;
    left: 100%;
    // right: -115px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    font-family: "IBM Plex Serif", Georgia, sans-serif;
    .date {
      font-weight: 300;
      opacity: 0.7;
    }
    .long-date {
      display: block;
    }
    .short-date {
      display: none;
    }
    .note {
      display: block;
      line-height: 1.2;
    }
    @media screen and (max-width: $break-small) {
      right: -50px;
      padding-top: 0px;
      font-size: 14px;
      .note {
        display: none;
      }
      .long-date {
        display: none;
      }
      .short-date {
        display: block;
      }
    }
  }
  // offset the item details column
  .tv .details {
    padding-left: ($defaultOffset - $tvOffset)+px;
  }
  .movie .details {
    padding-left: ($defaultOffset - $movieOffset)+px;
  }
  .short .details {
    padding-left: ($defaultOffset - $shortOffset)+px;
  }
  .book .details {
    padding-left: ($defaultOffset - $bookOffset)+px;
  }
  .play .details {
    padding-left: ($defaultOffset - $playOffset)+px;
  }
  .special .details {
    padding-left: ($defaultOffset - $specialOffset)+px;
  }

  // list item highlight
  .tv,
  .movie,
  .book,
  .short,
  .play,
  .special {
    &.highlight {
      background-color: #474642;
      font-weight: bold;
      .title,
      .year,
      .credit {
        color: $base-dark;
      }
      .year,
      .credit {
        font-weight: 300;
      }
    }
  }
}


// year plots
.year-plot-group {
  transition: width 0.3s ease;
}

.year-plot {
  display: inline-block;
  // width: 100px;
  vertical-align: top;
  // padding-top: calc( (100vh - 768px) / 2);
  padding-top: 20px;
  padding-bottom: 0px;
  transition:all $animation-rate ease;
  &.selected-year {
    // background-color: rgba(60,60,60, 0.4);
  }
  .expand-year-plots &.selected-year {
    background-color: transparent ;
  }

  &:nth-of-type(1) {
    // place month labels
    .daily-items::before {
      font-family: "IBM Plex Mono", monospace;
      position: absolute;
      top: 3px;
      left: -25px;
      color: $base-light;
      font-size: 10px;
      opacity: 0.4;
    }
    .daily-items:nth-of-type(1)::before {
      content: 'JAN';
    }
    .daily-items:nth-of-type(32)::before {
      content: 'FEB';
    }
    .daily-items:nth-of-type(60)::before {
      content: 'MAR';
    }
    .daily-items:nth-of-type(91)::before {
      content: 'APR';
    }
    .daily-items:nth-of-type(121)::before {
      content: 'MAY';
    }
    .daily-items:nth-of-type(152)::before {
      content: 'JUN';
    }
    .daily-items:nth-of-type(182)::before {
      content: 'JUL';
    }
    .daily-items:nth-of-type(213)::before {
      content: 'AUG';
    }
    .daily-items:nth-of-type(244)::before {
      content: 'SEP';
    }
    .daily-items:nth-of-type(274)::before {
      content: 'OCT';
    }
    .daily-items:nth-of-type(305)::before {
      content: 'NOV';
    }
    .daily-items:nth-of-type(335)::before {
      content: 'DEC';
    }
  }
}
.plot-year-label {
  display: block;
  overflow: hidden;
  font-family: 'IMB Plex Mono', sans-serif;
  font-size: 10px;
  font-weight: 500;
  margin: 0 0 8px 7px;
  color: $base-light;
  width: 12px;
  text-indent: -12px;
  text-align: right;
  opacity: 0.5;
  cursor: pointer;
  .selected-year & {
    opacity: 1;
  }
  .expand-year-plots &,
  .expand-year-plots .selected-year &,
  .selected-year & {
    width: 24px;
    text-indent: 0;
    opacity: 1;
  }
}

// year plot, highlighted title label
// .highlighted-title-outer {
//   // display: flex;
//   align-items: center;
//   justify-content: center;
//   // opacity: 0.8;
//   .highlighted-title-inner {
//     display: none;
//     width: auto;
//     margin-top: 20px;
//     background-color: #211F1E;
//     color: #fff;
//     padding: 10px 15px;
//     border-radius: 3px;
//     .type {
//       background-color: #ddd;
//     }
//     .clear-highlight {
//       display: inline-block;
//       margin-left: 10px;
//       font-size: 16px;
//       font-weight: 300;
//       cursor: pointer;
//       opacity: 0.5;
//     }
//     .title-highlight & {
//       display: table-cell;
//     }
//   }
// }

.selected-title-hover {
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  z-index: 2000;
  background: $base-light;
  border: 1px solid rgba(#111, 0.3);
  color: #3a3a3a;
  .left-col {
    // background: #E8E3E0;
  }
}

.chart-selection-container {
  grid-area: footer;
}
.chart-selection {
  grid-template-columns: auto 1fr 45px;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  display: none;
  position: relative;
  border: 1px solid $base-highlight;
  // width: auto;
  color: $base-light;
  .type {
    opacity: 0.5;
  }
  .right-col {
    word-break: normal;
  }
  .clear-highlight {
    position: absolute;
    top: 15px;
    right: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: $base-highlight;
  }
  .title-highlight & { // show / hide based on parent state
    display: grid;
  }
}

// display the title in a hover box of a year plot item
.title-hightlight {
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  .left-col,
  .right-col {
    display: inline-block;
    padding: 15px 20px;
  }
  .left-col {
    // padding-left: 20px;
    .type {
      text-transform: uppercase;
      font-weight: 300;
      opacity: 0.7;
    }
  }
  .right-col {
    padding-left: 0;
  }
  .type,
  .title {
    font-weight: 500;
  }
}

// row of items per day in a year plot
.daily-items {
  list-style: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1px;
  line-height: 1px;
  margin: 0;
  padding-left: 8px;
  position: relative;
  transition: background-color 0.3s ease;
  &.odd-month,
  .expand-year-plots .selected-year &.odd-month {
    background-color: lighten($base-dark, 4%);
  }
  .selected-year &.odd-month {
    // background-color: transparent;
  }
  &.on-screen.odd-month,
  &.on-screen {
    background-color: rgba(232,227, 224, 0.25);
    transition: background-color 0.3s ease;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0px 1px 1px 0;
    height: 1px;
    position: relative;
    cursor: pointer;
    padding: 0;
    background-color: #888;
    border-radius: 0px;
    text-indent: -99999px;
    transition: width 0.3s ease 4s;
    transition: background-color 0.3s ease;
    z-index: 10;
    .expand-year-plots &,
    .selected-year & {
      background-color: $base-light;
    }
    .title-highlight & {
      background-color: #666;
    }
    &:hover,
    &.highlight:hover {
      background-color: $base-light-dimmed;
      cursor: pointer;
    }
    &.short-title,
    &.medium-title,
    &.long-title {
      transition: width 0.3s ease 0.4s;
    }
    &.short-title {
      width: 5px;
    }
    &.medium-title {
      width: 7px;
    }
    &.long-title {
      width: 9px;
    }
    &.highlight {
      background-color: $base-light-dimmed;
      height: 1px;
      z-index: 1;
    }
    &.highlight::before {
      content: "";
      position: absolute;
      background-color: $base-highlight;
      opacity: 0.4;
      top: -8px;
      width: 17px;
      height: 17px;
      border-radius: 20px;
      z-index: -1;
      transition:all $animation-rate-fast ease;
    }
    &.short-title.highlight::before {
      left: -6px;
    }
    &.medium-title.highlight::before {
      left: -5px;
    }
    &.long-title.highlight::before {
      left: -4px;
    }
    // days with no entry
    &.empty-date {
      background-color: #bbb;
      width: 0px;
      height: 2px;
      margin-bottom: 0;
      margin-left: 1px;
    }
  }
}

// collapsed year plots (default)
.compact-years {
  transition: all 0.3 ease;
  .year-plot {
    width: 40px;
    transition: all 0.3s ease;
  }
  .plot-year-label {
    font-family: "IBM Plex Mono", monospace;
    font-size: 10px;
    transition: all $animation-rate ease;
  }
  .daily-items {
    position: relative;
  }
  .daily-items li {
    transition: width 0.3s ease 0.8s;
    &.short-title,
    &.medium-title,
    &.long-title {
      width: 2px;
      height: 1px;
      margin-right: 1px;
      transition: width 0.5s ease;
    }
    // circle highlight
    &.highlight {
      background-color: $base-light;
    }
    &.highlight::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      width: 14px;
      height: 14px;
      opacity: 0.2;
      border-radius: 20px;
      transition: all $animation-rate-fast ease;
      z-index: 2;
    }
  }
}

// the most-seen-read
.most-seen-read {
  text-align: left;
  display: none;
  opacity: 0;
  margin: -10px 0 20px 0;
  padding: 0 20px;
  list-style: none;
  overflow: auto;
  transition: all 3s ease;
  ul{
    margin-bottom: 20px;
  }
  li {
    display: inline-block;
    margin: 0;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    color: $base-light;
    font-size: 11px;
    text-decoration: none;
    padding: 3px 5px;
    // padding: none;
    // margin-right: 3px;
    // margin-bottom: 2px;
    border-radius: 2px;
    // background-color: darken(#96A8B0,48%);
    // background-color: #232221;
    &::after {
      // content: ",";
    }
    // &.clear-highlight {
    //   background: none;
    //   border: 1px solid #232221;
    // }
    &.highlight,
    &.highlight:hover {
      // background-color: $base-light;
      background-color: $base-highlight;
      color: #000;
    }
    &:hover {
      background: lighten(#232221, 5%);
      cursor: pointer;
    }
  }
  .top-title-type {
    display: inline-block;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  // &.show-buttons {
  //   transform: translateY(10px);
  //   // text-align: center;
  //   display: block;
  //   opacity: 1;
  //   transition: all $animation-rate ease 0.7;
  // }
}

// control button
.option-button {
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  text-align: center;
  background-color: transparent;
  border: 1px solid darken(#DBDCD7, 30%);
  font-size: 12px;
  margin: 10px 10px 0 0;
  padding: 5px 6px;
  width: 45px;
  border-radius: 2px;
  color: #DBDCD7;
  outline: none;
  cursor: pointer;
}

/**
* Rangeslider
*/
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none;
  &,
  .rangeslider__fill {
    display: block;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  }
  .rangeslider__handle {
    background: $base-light;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
    .rangeslider__active {
      opacity: 1;
    }
  }

  .rangeslider__handle-tooltip {
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    // background-color: rgba(0, 0, 0, 0.8);
    background-color: $base-light;
    font-weight: normal;
    font-size: 14px;
    transition: all 100ms ease-in;
    border-radius: 4px;
    display: inline-block;
    color: #111;
    right: 200;
    transform: translate3d(-50%, 0, 0);
    span {
      margin-top: 12px;
      display: inline-block;
      line-height: 100%;
    }
    &:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
    }
  }
}

// range slider-vertical
.rangeslider-vertical {
  margin: 20px 10px;
  height: calc(100vh - 150px);
  max-width: 2px;
  background-color: #444;
  .rangeslider__fill,
  .rangeslider__handle {
    position: absolute;
  }
  .rangeslider__fill {
    width: 100%;
    background-color: $base-light;
    box-shadow: none;
    top: 0;
  }
  .rangeslider__handle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    left: -19px;
    border: 2px solid $base-light;
    box-shadow: none;
    background-color: #111;;
  }
  .rangeslider__handle-tooltip {
    left: -100%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    &:after {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid rgba(0, 0, 0, 0.8);
      left: 100%;
      top: 12px;
    }
  }
  .rangeslider__handle-label {
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    word-break: normal;
    font-size: 12px;
    line-height: 1.0;
    padding-top: 7px;
    font-weight: 500;
    color: $base-light;
    text-transform: uppercase;
    user-select: none; // disallow text selection on the handle
  }
  .rangeslider__handle-tooltip {
    // tootltip
  }
}
.slider-vertical .value {
  display: none;
}
