// fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500');

// animation
$animation-rate: 0.75s;
$animation-rate-fast: 0.2s;

// core palette
$base-dark: #111010;
$base-dark-lighter: #232221;
$base-light: #F6F5F1;
$base-light-dimmed: #E8E3E0;
$base-highlight: #ECCC87;

// font families
$sans-fonts: "IBM Plex Sans", helvetica, arial, sans-serif;
$serif-fonts: "IBM Plex Serif",  georgia, times, serif;
$monospace-fonts: "IBM Plex Mono", monospace;

// screen size break points
$break-medium: 1000px;
$break-small: 400px;

// animation
@keyframes fadeIn {
  from {
    opacity: 0;
 }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
 }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -35%, 0);
 }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-40px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(40px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

// @keyframes pulse {
//   0% {
//     transform: translate(-50%, -50%) scale(0);
//     opacity: 1;
//   }
//   100% {
//     transform: translate(-50%, -50%) scale(1.0);
//     opacity: 0;
//   }
// }
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

// setup, resets
* {
  box-sizing: border-box;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  text-rendering: optimizeLegibility;
  font-family: $sans-fonts;
  background-color: $base-dark;
  // position: relative;
}
.link {
  text-decoration: none;
  border-bottom: 2px solid rgba($base-light, 0.3);
  color: $base-light;
  font-weight: 400;
  &:hover {
    border-bottom-color: rgba($base-light, 0.8);
  }
}

// loader
.loader {
  position: absolute;
  top: 45%;
  left: 45%;
  span {
    display: inline-block;
    margin-left: 10px;
    font-family: $sans-fonts;
    font-weight: 400;
    font-style: italic;
    color: $base-light;
    font-size: 36px;
    opacity: 0.5;
    animation: pulse 1s ease-in-out infinite;
    &:nth-child(1) {
      animation-delay: 0.66s;
    }
    &:nth-child(2) {
      animation-delay: 0.33s;
    }
    &:nth-child(3) {
      animation-delay: 0.0s;
    }
    // &:nth-child(4) {
    //   animation-delay: 0.5s;
    // }
    // &:nth-child(5) {
    //   animation-delay: 0.1s;
    // }
    // &:nth-child(6) {
    //   animation-delay: 0.3s;
    // }
    // &:nth-child(7) {
    //   animation-delay: 0.15s;
    // }
    // &:nth-child(8) {
    //   animation-delay: 0.20s;
    // }
    // &:nth-child(9) {
    //   animation-delay: 0.075s;
    // }
    // &:nth-child(10) {
    //   animation-delay: 0.125s;
    // }
  }
  // @for $i from 1 through 9 {
  //   span:nth-child(#{$i}) {
  //     animation: pulse #{(random(4)/4)+1}s ease-in-out infinite #{(random(3)/2)}s;
  //   }
  // }
}

// grid layout
// .cover {
//   height: 100vh;
//   width: 100vw;
//   background: beige;
//   text-align: center;
//   span {
//     display: inline-block;
//     padding-top: 45vh;
//     vertical-align: middle;
//     font-size: 48px;
//     font-weight: 900;
//     opacity: 0.8;
//   }
// }
.explore {
  display: grid;
  padding: 0 10px;
  grid-template-areas: "a b";
  grid-gap: 40px;
  // grid-auto-columns: minmax(90px, 700px); // KEEP for large view
  grid-auto-columns: 70% 30%;
  // min-width: 1000px; // // KEEP for large view
  position: relative;
  height: 100vh;
  overflow: hidden;
  &.browse-single-year {
    // default, for larger screens
    grid-auto-columns: 30% 70%;
    transition:all $animation-rate ease;
  }
  .expand-year-plots & {
    margin-top: 80px;
    grid-auto-columns: 55% 45%;
    transition:all $animation-rate ease;
    .most-seen-read {
      opacity: 1;
      display: block;
    }
  }
  // medium screens
  @media screen and (max-width: $break-medium) {
    grid-auto-columns: 20% 80%;
  }
  // small screens
  @media screen and (max-width: $break-small) {
    padding: 100px 0 0 10px;
    &.browse-single-year {
      grid-auto-columns: 0 auto;
      grid-gap: 0px;
      .media-list {

      }
    }
  }

}
.chart {
  // background: #aaa; //testing
  // position: sticky;
  justify-self: end;
  // height: 100vh;
  // overflow-y: auto;
  .year-plot-container {
    float: right;
    // display: none;
    .sticky-header {
      position: sticky;
      top: 60px;
    }
  }
  .year-plots {
    display: none;
    // position: sticky;
    margin-left: 30px;
    display: grid;
    grid-template-areas: ". . . . . . . . ."
    "footer footer footer footer footer footer footer footer footer";
    grid-auto-columns: minmax(60px, 90px);
    grid-template-rows: 790px auto;
    transition: width 0.3s ease;
    animation-name: fadeInLeft;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-delay: 0.60s;
    // opacity: 0;
    .browse-single-year & {
      grid-auto-columns: minmax(30px, 40px);
    }
    // medium screens
    @media screen and (max-width: $break-medium) {
      grid-auto-columns: 10% 90%;

      .year-plot:not(.selected-year) {
        display: none;
      }
    }
  }
}
.controls {
  // max-width: 800px;
  overflow: auto;
  // height: 100vh;
  position: relative;

  // span {
  //   display: inline-block;
  //   height: 1000px;
  //   padding: 400px 0 900px 0;
  //   text-align: center;
  // }
}

.name-plate {
  position: absolute;
  top: 28px;
  left: 30px;
  font-family: $sans-fonts;
  font-weight:400;
  font-size: 32px;
  line-height: 1;
  font-style: italic;
  color: $base-light-dimmed;
}

// header
header {
  grid-column-start: 1;
	grid-column-end: 3;
  .title {
    float: left;
    font-family: $serif-fonts;
    font-weight: 300;
    font-size: 24px;
    color: $base-light;
    padding: 20px 0 0 30px;
  }
  .options {
    float: right;
  }
}
.intro {
  margin: 30vh 20px 46vh 40px;
  width: 50%;
  transition: width 0.3s ease;
  animation-name: fadeInLeft;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-delay: 0.6s;
  h1 {
    font-family: $sans-fonts;
    font-weight: 300;
    font-style: italic;
    font-size: 48px;
    color: $base-light-dimmed;
    margin: 24px 0;
    line-height: 48px;
  }
  p {
    font-family: $serif-fonts;
    font-weight: 400;
    font-size: 18px;
    color: $base-light;
    line-height: 26px;
    margin: 24px 0;
  }
}

// radial progress
.progress-circle-container {
  position: absolute;
  left: 592px; // default position for 2017
  top: 3px;
  width: 90px;
  padding: 15px 15px;
  background-color: rgba(17,17,17,0.6);
  z-index: 1;
  border-radius: 100%;
  // animation-name
  // animation-name: fadeInDown;
  // animation-duration: 0.6s;
  // animation-fill-mode: both;
  // animation-timing-function: ease;
  // animation-delay: 0.60s;
}
.progress-circle {
  width:60px;
  height:60px;
  display: block;
  // z-index: 100;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
  circle.progress-disk {
    transition: all 0.5s ease;
    opacity: 0.8;
    stroke: $base-light-dimmed;
    fill: rgba(80, 80, 80, 0.70);
  }
  .progress-year {
    transform: rotate(90deg);
    font-size: 10px;
    font-family: $monospace-fonts;
    fill: #fff;
    display: none;
  }
}

// scrollable media list
// offset for types of list items
$bookOffset: 20;
$playOffset: 15;
$movieOffset: 0;
$shortOffset: 10;
$tvOffset: 5;
$specialOffset: 0;
$defaultOffset: 45;
.media-list {
  position: relative;
  margin-top: 80px;
  overflow-y: hidden;
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-delay: 0.60s;
  .expand-year-plots & {
    opacity: 0;
    display:none;
  }
  // .year-nav {
  //   position: sticky;
  //   overflow: hidden;
  //   background: $base-dark;
  //   z-index: 100;
  //   width: 100%;
  //   top: 0;
  //   display: block;
  //   padding: 0 0 10px 20px;
  //   .year {
  //     font-family: $monospace-fonts;
  //     font-size: 14px;
  //     font-weight: 300;
  //     cursor: pointer;
  //     margin-right: 15px;
  //     color: rgba(246,245,241, 0.7);
  //   }
  //   & .selected {
  //     display: inline-block;
  //     color: $base-dark;
  //     opacity: 1;
  //     border-radius: 3px;
  //     background-color: $base-light-dimmed;
  //     // border-bottom: 1px solid $base-light;
  //   }
  // }

  // base media list item appearance
  $title-color: #3a3a3a;

  .item {
    position: relative;
    x-justify-content: space-around;
    x-align-items: stretch;
    align-items: center;
    margin-top: 2px;
    padding: 17px 30px;
    background-color: $base-light-dimmed;
    font-size: 23px;
    width: 60%;
    // max-width: 720px;

    .title {
      flex: 1;
      font-family: $serif-fonts;
      font-weight: 500;
      color: $title-color;
    }
    .credit,
    .year {
      font-family: $serif-fonts;
      color: $title-color;
      opacity: 0.6;
      font-weight: 400;
    }
    .year {
      width: 50px;
      text-align: right;
      margin-left: 10px; // buffer between title and year
    }
    &:hover {
      cursor: pointer;
    }
    &.chart-selection-highlight {
      background-color: $base-highlight;
    }
    // show details on hover
    &:hover,
    &:hover .repeatedDate,
    &.chart-selection-highlight,
    &.chart-selection-highlight .repeatedDate{
      .date,
      .note {
        opacity: 1;
      }
    }
    // shrink for smaller screens
    @media screen and (max-width: $break-medium) {
      font-size: 18px;
    }
    @media screen and (max-width: $break-small) {
      font-size: 14px;
      margin-right: 70px;
      padding: 10px 15px;
    }
    // appear/enter animation
    // .media-list-wrap-appear
    // .media-list-wrap-appear-active
    // .xyz-enter {
    //     opacity: 0.01;
    // }

    .xyz-entering & {
    //     opacity: 1;
    //     transition: opacity 500ms ease-in;
    // }
    // .media-list-wrap-enter-active & {
      animation-name: fadeInTop;
      animation-duration: 0.6s;
      animation-fill-mode: both;
      animation-timing-function: ease;
      animation-delay: 0.60s;
      $animation-base-increment: 0.01;
      &:nth-child(1) {
        animation-delay: $animation-base-increment+s;
      }
      &:nth-child(2) {
        animation-delay: 0.10s+$animation-base-increment;
      }
      &:nth-child(3) {
        animation-delay: 0.15s+$animation-base-increment;
      }
      &:nth-child(4) {
        animation-delay: 0.25s+$animation-base-increment;
      }
      &:nth-child(5) {
        animation-delay: 0.35s+$animation-base-increment;
      }
      &:nth-child(6) {
        animation-delay: 0.40s+$animation-base-increment;
      }
      &:nth-child(7) {
        animation-delay: 0.45s+$animation-base-increment;
      }
      &:nth-child(8) {
        animation-delay: 0.50s+$animation-base-increment;
      }
      &:nth-child(9) {
        animation-delay: 0.55s+$animation-base-increment;
      }
      &:nth-child(10) {
        animation-delay: 0.60s+$animation-base-increment;
      }
      &:nth-child(11) {
        animation-delay: 0.65s+$animation-base-increment;
      }
      &:nth-child(12) {
        animation-delay: 0.70s+$animation-base-increment;
      }
      &:nth-child(13) {
        animation-delay: 0.75s+$animation-base-increment;
      }
      &:nth-child(14) {
        animation-delay: 0.788s+$animation-base-increment;
      }
      &:nth-child(15) {
        animation-delay: 0.811s+$animation-base-increment;
      }
      &:nth-child(16) {
        animation-delay: 0.85s+$animation-base-increment;
      }
      &:nth-child(17) {
        animation-delay: 0.888s+$animation-base-increment;
      }
      &:nth-child(18) {
        animation-delay: 0.911s+$animation-base-increment;
      }
      &:nth-child(19) {
        animation-delay: 0.95s+$animation-base-increment;
      }
    }
  }
  // READ: books and plays
  .play,
  .book {
    padding: 22px 30px;
    font-family: $serif-fonts;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    .title,
    .credit {
      display: block;
      color: $title-color;
      flex-grow: 1;
      text-align: left;
    }
    .title {
      width: 100%;
    }
    .credit {
      width: 100%;
      font-weight: 400;
    }
  }
  .book {
    margin-left: $bookOffset+px;
  }
  .play {
    margin-left: $playOffset+px;
  }
  // SEEN: TV, movies, shorts
  .tv,
  .movie,
  .short {
    border-radius: 8px;
    background-color: $base-light;
    .title,
    .year {
      font-family: $sans-fonts;
    }
    .title {
      font-weight: 500;
    }
  }
  .tv {
    text-align: center;
    margin-left: $tvOffset+px;
  }
  .movie,
  .short {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    .title {
      flex: 1;
    }
    .year {
      width: 75px;
      @media screen and (max-width: $break-medium) {
        width: 60px;
      }
      @media screen and (max-width: $break-small) {
        width: 45px;
      }
    }
  }
  .movie {
    margin-left: $movieOffset+px;
  }
  .short {
    margin-left: $shortOffset+px;
  }
  // special items - usually filming starts on a Soderbergh project
  .special {
    max-width: 720px;
    text-align: center;
    border-radius: 8px;
    background-color: #333;
    padding-top: 25px;
    padding-bottom: 25px;
    // margin-top: 3px;
    // margin-bottom: 3px;
    // background-color: darken($base-light-dimmed, 75%);
    .title {
      color: $base-light;
      font-weight: 400;
    }
    &.chart-selection-highlight .title {
      color: #3a3a3a;
      font-weight: 500;
    }
  }
  // $notesOffset: 760px;
  .details {
    position: absolute;
    display: block;
    width: 33.33%;
    height: 100%;
    // border-left: 1px solid $base-light-dimmed;
    color: $base-light-dimmed;
    padding: 0px 15px 0 $defaultOffset+px;
    top: 0px;
    left: 100%;
    // right: -115px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    font-family: $serif-fonts;
    &.repeatedDate .date {
      opacity: 0;
    }
    .date {
      font-weight: 300;
      opacity: 0.3;
    }
    .long-date {
      display: block;
    }
    .short-date {
      display: none;
    }
    .note {
      display: block;
      opacity: 0.4;

      line-height: 1.2;
    }
    @media screen and (max-width: $break-small) {
      right: -50px;
      padding-top: 0px;
      font-size: 14px;
      .note {
        display: none;
      }
      .long-date {
        display: none;
      }
      .short-date {
        display: block;
      }
    }
  }
  // offset the item details column
  .tv .details {
    padding-left: ($defaultOffset - $tvOffset)+px;
  }
  .movie .details {
    padding-left: ($defaultOffset - $movieOffset)+px;
  }
  .short .details {
    padding-left: ($defaultOffset - $shortOffset)+px;
  }
  .book .details {
    padding-left: ($defaultOffset - $bookOffset)+px;
  }
  .play .details {
    padding-left: ($defaultOffset - $playOffset)+px;
  }
  .special .details {
    padding-left: ($defaultOffset - $specialOffset)+px;
  }

  // list item highlight
  .tv,
  .movie,
  .book,
  .short,
  .play,
  .special {
    &.highlight {
      background-color: #474642;
      font-weight: bold;
      .title,
      .year,
      .credit {
        color: $base-dark;
      }
      .year,
      .credit {
        font-weight: 300;
      }
    }
  }
}


// year plots
.year-plot {
  display: inline-block;
  // width: 100px;
  vertical-align: top;
  // padding-top: calc( (100vh - 768px) / 2);
  padding-top: 20px;
  padding-bottom: 0px;
  transition:all $animation-rate ease;
  &.selected-year {
    // background-color: rgba(60,60,60, 0.4);
  }
  .expand-year-plots &.selected-year {
    background-color: transparent ;
  }

  &:nth-of-type(1) {
    // place month labels
    .daily-items::before {
      font-family: $monospace-fonts;
      position: absolute;
      top: 3px;
      left: -25px;
      color: $base-light;
      font-size: 10px;
      opacity: 0.4;
    }
    .daily-items:nth-of-type(1)::before {
      content: 'JAN';
    }
    .daily-items:nth-of-type(32)::before {
      content: 'FEB';
    }
    .daily-items:nth-of-type(60)::before {
      content: 'MAR';
    }
    .daily-items:nth-of-type(91)::before {
      content: 'APR';
    }
    .daily-items:nth-of-type(121)::before {
      content: 'MAY';
    }
    .daily-items:nth-of-type(152)::before {
      content: 'JUN';
    }
    .daily-items:nth-of-type(182)::before {
      content: 'JUL';
    }
    .daily-items:nth-of-type(213)::before {
      content: 'AUG';
    }
    .daily-items:nth-of-type(244)::before {
      content: 'SEP';
    }
    .daily-items:nth-of-type(274)::before {
      content: 'OCT';
    }
    .daily-items:nth-of-type(305)::before {
      content: 'NOV';
    }
    .daily-items:nth-of-type(335)::before {
      content: 'DEC';
    }
  }
}
.plot-year-label {
  display: block;
  overflow: hidden;
  font-family: $monospace-fonts;
  font-size: 10px;
  font-weight: 500;
  margin: 0 0 8px 7px;
  color: $base-light;
  width: 12px;
  text-indent: -12px;
  text-align: right;
  opacity: 0.5;
  cursor: pointer;
  .selected-year & {
    opacity: 1;
  }
  .expand-year-plots &,
  .expand-year-plots .selected-year &,
  .selected-year & {
    width: 24px;
    text-indent: 0;
    opacity: 1;
  }
}

// year plot, highlighted title label
// .highlighted-title-outer {
//   // display: flex;
//   align-items: center;
//   justify-content: center;
//   // opacity: 0.8;
//   .highlighted-title-inner {
//     display: none;
//     width: auto;
//     margin-top: 20px;
//     background-color: #211F1E;
//     color: #fff;
//     padding: 10px 15px;
//     border-radius: 3px;
//     .type {
//       background-color: #ddd;
//     }
//     .clear-highlight {
//       display: inline-block;
//       margin-left: 10px;
//       font-size: 16px;
//       font-weight: 300;
//       cursor: pointer;
//       opacity: 0.5;
//     }
//     .title-highlight & {
//       display: table-cell;
//     }
//   }
// }

.selected-title-hover {
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  z-index: 2000;
  background: $base-light;
  border: 1px solid rgba(#111, 0.3);
  color: #3a3a3a;
  .left-col {
    // background: #E8E3E0;
  }
}

.chart-selection-container {
  grid-area: footer;
}
.chart-selection {
  grid-template-columns: auto 1fr 45px;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  display: none;
  position: relative;
  border: 2px solid $base-highlight;
  // width: auto;
  color: $base-light;
  .type {
    opacity: 0.5;
  }
  .right-col {
    word-break: normal;
  }
  .clear-highlight {
    position: absolute;
    top: 15px;
    right: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: $base-highlight;
  }
  .title-highlight & { // show / hide based on parent state
    display: grid;
  }
}

// display the title in a hover box of a year plot item
.title-hightlight {
  font-family: $sans-fonts;
  font-size: 16px;
  border-radius: 3px;
  .left-col,
  .right-col {
    display: inline-block;
    padding: 15px 20px;
  }
  .left-col {
    // padding-left: 20px;
    .type {
      text-transform: uppercase;
      font-weight: 300;
      opacity: 0.7;
    }
  }
  .right-col {
    padding-left: 0;
  }
  .type,
  .title {
    font-weight: 500;
  }
}

// row of items per day in a year plot
.daily-items {
  list-style: none;
  font-family: $monospace-fonts;
  font-size: 1px;
  line-height: 1px;
  margin: 0;
  padding-left: 8px;
  position: relative;
  transition: background-color 0.3s ease;
  &.odd-month,
  .expand-year-plots .selected-year &.odd-month {
    background-color: lighten($base-dark, 4%);
  }
  .selected-year &.odd-month {
    // background-color: transparent;
  }
  &.on-screen.odd-month,
  &.on-screen {
    background-color: rgba(232,227, 224, 0.25);
    transition: background-color 0.3s ease;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0px 1px 1px 0;
    height: 1px;
    position: relative;
    cursor: pointer;
    padding: 0;
    background-color: #888;
    border-radius: 0px;
    text-indent: -99999px;
    transition: width 0.3s ease 4s;
    transition: background-color 0.3s ease;
    z-index: 10;
    .expand-year-plots &,
    .selected-year & {
      background-color: $base-light;
    }
    .title-highlight & {
      background-color: #666;
    }
    &:hover,
    &.highlight:hover {
      background-color: $base-light-dimmed;
      cursor: pointer;
    }
    &.short-title,
    &.medium-title,
    &.long-title {
      transition: width 0.3s ease 0.4s;
    }
    &.short-title {
      width: 5px;
    }
    &.medium-title {
      width: 7px;
    }
    &.long-title {
      width: 9px;
    }
    &.highlight {
      background-color: $base-light-dimmed;
      height: 1px;
      z-index: 1;
    }
    &.highlight::before {
      content: "";
      position: absolute;
      background-color: $base-highlight;
      opacity: 0.4;
      top: -8px;
      width: 17px;
      height: 17px;
      border-radius: 20px;
      z-index: -1;
      transition:all $animation-rate-fast ease;
    }
    &.short-title.highlight::before {
      left: -6px;
    }
    &.medium-title.highlight::before {
      left: -5px;
    }
    &.long-title.highlight::before {
      left: -4px;
    }
    // days with no entry
    &.empty-date {
      background-color: #bbb;
      width: 0px;
      height: 2px;
      margin-bottom: 0;
      margin-left: 1px;
    }
  }
}

// collapsed year plots (default)
.compact-years {
  transition: all 0.3 ease;
  .year-plot {
    width: 40px;
    transition: all 0.3s ease;
  }
  .plot-year-label {
    font-family: $monospace-fonts;
    font-size: 10px;
    transition: all $animation-rate ease;
  }
  .daily-items {
    position: relative;
  }
  .daily-items li {
    transition: width 0.3s ease 0.8s;
    &.short-title,
    &.medium-title,
    &.long-title {
      width: 2px;
      height: 1px;
      margin-right: 1px;
      transition: width 0.5s ease;
    }
    // circle highlight
    &.highlight {
      background-color: $base-light;
    }
    &.highlight::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      width: 14px;
      height: 14px;
      opacity: 0.2;
      border-radius: 20px;
      transition: all $animation-rate-fast ease;
      z-index: 2;
    }
  }
}

// the most-seen-read
.most-seen-read {
  text-align: left;
  display: none;
  opacity: 0;
  margin: 15px 60px 20px 0;
  padding: 0 20px;
  list-style: none;
  overflow: auto;
  transition: all 3s ease;
  ul{
    margin-bottom: 20px;
  }
  li {
    display: inline-block;
    margin: 0;
    font-family: $sans-fonts;
    color: $base-light;
    font-size: 11px;
    text-decoration: none;
    padding: 3px 5px;
    // padding: none;
    margin-right: 3px;
    margin-bottom: 2px;
    border-radius: 2px;
    // background-color: darken(#96A8B0,48%);
    background-color: $base-dark-lighter;
    &::after {
      // content: ",";
    }
    // &.clear-highlight {
    //   background: none;
    //   border: 1px solid $base-dark-lighter;
    // }
    &.highlight,
    &.highlight:hover {
      // background-color: $base-light;
      background-color: $base-highlight;
      color: #000;
    }
    &:hover {
      background: lighten($base-dark-lighter, 5%);
      cursor: pointer;
    }
  }
  .top-title-type {
    display: inline-block;
    font-family: $sans-fonts;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  // &.show-buttons {
  //   transform: translateY(10px);
  //   // text-align: center;
  //   display: block;
  //   opacity: 1;
  //   transition: all $animation-rate ease 0.7;
  // }
}

.options {
  position: absolute;
  top: 20px;
  right: 20px;
}

// control button
// .option-button {
//   font-family: $sans-fonts;
//   text-align: left;
//   background-color: $base-highlight;
//   border: 0px solid $base-light;
//   font-size: 16px;
//   font-weight: 500;
//   padding: 10px 15px;
//   // width: 60px;
//   border-radius: 3px;
//   color: $base-dark;
//   outline: none;
//   cursor: pointer;
// }

.option-button {
  position: absolute;
  top: 30px;
  right: 20px;
  font-family: $sans-fonts;
  text-align: left;
  background-color: transparent;
  border: 2px solid $base-light-dimmed;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 10px;
  // width: 60px;
  border-radius: 3px;
  color: $base-light-dimmed;
  outline: none;
  cursor: pointer;
  transition: width 0.3s ease;
  animation-name: fadeInRight;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-delay: 0.6s;
  &:active { }
}

// .nav-wrap {
//   display: block;
//   width: 100%;
//   background-color: pink;
// }
.year-nav {
  height: 93px;
  display: block;
  position: relative;
  width: 675px;
  margin: 2px auto 5px auto;
  overflow: visible;
  transition: width 0.3s ease;
  animation-name: fadeInDown;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-delay: 0.60s;
}
.year-links {
  position: absolute;
  margin: 30px 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  z-index: 100;
  a {
    font-family: $monospace-fonts;
    display: inline-block;
    // margin-left: 10px;
    padding: 8px 0;
    width: 75px;
    opacity: 0.5;
    border-width: 0;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      opacity: 1;
    }
    &.selected {
      // opacity: 1;
      // display: inline-block;
      color: $base-light;
      opacity: 1;
      // border-radius: 3px;
      // background-color: $base-highlight;
      font-weight: 500;
    }
  }
  .expand-year-plots & {
    opacity: 0;
    display:none;
  }
}
