
////////////////////
// SETUP

// fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,500');

// animation
$animation-rate: 0.75s;
$animation-rate-fast: 0.3s;

// core palette
$base-dark: #111010;
$base-dark-lighter: #232221;
$base-light: #F6F5F1;
$base-light-dimmed: #E8E3E0;
$base-highlight: #E0B628; //#ECC971;//#D4A26C;
$media-highlight-color: #129DC6;  // media highlight color

// media colors
$play-color: #D54731;
$book-color: #B18759;
$short-story-color: #D97035;
$movie-color: #236A9F;
$tv-color: #248B44;

// font families
$sans-fonts: "IBM Plex Sans", helvetica, arial, sans-serif;
$serif-fonts: "IBM Plex Serif",  georgia, times, serif;
$monospace-fonts: "IBM Plex Mono", monospace;

// screen size break points
$break-large: 1300px;
$break-medium: 1000px;
$break-small: 400px;

////////////////////
// ANIMATIONS

@keyframes pulse {
    0%,40%,to{
        opacity:1
    }
    20%{
        opacity:0
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
 }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@mixin fadeInUpAnimation() {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

////////////////////
// RESETS, COMMON

* {
  box-sizing: border-box;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  text-rendering: optimizeLegibility;
  font-family: $sans-fonts;
  background-color: $base-dark;
}
.link {
  text-decoration: none;
  border-bottom: 2px solid rgba($base-light, 0.3);
  color: $base-light;
  font-weight: 400;
  &:hover {
    border-bottom-color: rgba($base-light, 0.8);
  }
}

////////////////////
// LOADER . . .

.loader {
  position: absolute;
  top: 48%;
  left: 49%;
  margin: 0 auto;
  width: 36px;
  height: 6px;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span {
    background-color: $base-light;
    height: 100%;
    width: 6px;
    border-radius: 50%;
    animation: pulse 1.2s infinite cubic-bezier(.645,.045,.355,1);
    &:nth-child(2) {
      animation-delay:-1.1s
    }
    &:nth-child(3) {
      animation-delay:-1s
    }
  }
}

////////////////////
// LAYOUT
.app {
  position: relative;
}
.seen-read-chart-and-list {
  height: 40000px;
  // padding-top: 20px;
}
.multi-year-comparison {
  position: sticky;
  top: 77px;
  width: 40%;
  float: left;
  .multi-year-charts {
    float: right;
    margin-left: 40px;
    // max-width: 430px;
  }
}
.scrolling-list {
  float: right;
  width: 60%;
}
.view-most-seen-read {
  // .seen-read-chart-and-list {
  //   height: auto;
  //   overflow: auto;
  // }
  .multi-year-comparison {
    // position: fixed;
    // top: 77px;
    width: 60%;
    // padding-left: 40px;
    // min-width: 730px; // below this with, some daily entries start to break to multiple lines
    // .multi-year-charts {
    //   max-width: none;
    // }
  }
  .scrolling-list {
    padding-left: 20px;
    width: 40%;
  }
  .most-seen-read {
    opacity: 1;
    display: block;
    @include fadeInUpAnimation();
  }
}

////////////////////
// HEADER elements: name plate & main navigation
.intro-wrap {
  width: 100%;
  background: $base-dark;
  @include fadeInUpAnimation();
  .view-most-seen-read & {
    display: none;
  }
}
.intro-with-illustration {
  margin: 50px auto 0 auto;
  width: 550px;
  padding: 30px 0 10px 230px;
  height: 460px;
  background: url('./assets/soderbergh.png') top left no-repeat;
}
.button {
  font-family: $sans-fonts;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 9px 14px 9px 14px;
  border: 2px solid $base-light;
  border-radius: 3px;
  color: $base-dark;
  background-color: $base-light;
  border-color: $base-light;
  outline: none;
  cursor: pointer;
  &:hover {
    color: $base-dark;
    background-color: $base-light;
    border-color: $base-light;
  }
}
.inline-button {
  font-weight: 400;
  border-bottom: 2px solid #666;
  &:hover {
    border-color: #999;
    cursor: pointer;
  }
}
.expand-reduce-chart,
.expand-reduce-chart:active {
  background: none;
  color: #8B8887;
  border: 1px solid $base-dark;
  em {
    font-size: 18px;
  }
  .title-highlight & {
    display: none;
  }
}

// seen,read name plate
.name-plate,
.logo-block {
  font-family: $sans-fonts;
  line-height: 1.5;
  font-style: italic;
  color: $base-light;
  display: block;
}
.name-plate {
  font-weight: 200;
  font-size: 48px;
  margin: 0 0 15px 0;
}
.intro {
  margin: 0 auto 20px auto;
  font-size: 17px;
  font-family: $serif-fonts;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 2px solid #666;
    &:hover {
      text-decoration: none;
      border-color: #999;
    }
  }
}
.nav-wrap {
  height: 77px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background: $base-dark;
  // overflow: hidden;
}

// Display all available years for browse list mode
.year-nav {
  height: 77px;
  display: block;
  position: relative;
  width: 650px;
  margin: 0 auto;
  overflow: hidden;
  @include fadeInUpAnimation();
  .view-most-seen-read & {
    display: none;
  }
}
.year-links {
  position: absolute;
  top: 9px;
  margin: 18px 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  z-index: 50;
  span {
    font-size: 14px;
    font-family: $monospace-fonts;
    font-weight: 00;
    display: inline-block;
    width: 65px;
    opacity: 0.5;
    border-width: 0;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &.selected {
      color: $base-light;
      opacity: 1;
      font-weight: 600;
    }
  }
}
.options {
  position: absolute;
  top: 20px;
  right: 20px;
}
.option-button {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  border: none;
}
.logo-block {
  position: absolute;
  top: 17px;
  left: 20px;
  opacity: 0;
  visibility: hidden;
  font-size: 28px;
  font-weight: 400;
  a,
  a:hover {
    text-decoration: none;
    color: #fff;
  }
}
// show project name and 'most seen,read' button when the year nav is sticking to window top
.stick-header,
.view-most-seen-read {
  .logo-block {
    animation-name: fadeInLeft;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    opacity: 1;
    visibility: visible;
  }
  .option-button {
    animation-name: fadeInRight;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    opacity: 1;
    visibility: visible;
  }
}

////////////////////
// radial progress
// appears behind the selected year in the year list navigation

.progress-circle-container {
  position: absolute;
  left: 573px; // default position for 2018
  top: -7px;
  width: 90px;
  padding: 15px 15px;
  background: transparent;
  background-color: rgba(17,17,17,0.6);
  z-index: 1;
  border-radius: 100%;
  .view-most-seen-read & {
    display: none;
    transition:all $animation-rate ease;
  }
}
.progress-circle {
  width:60px;
  height:60px;
  display: block;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
  circle.progress-disk {
    transition: all 0.5s ease;
    opacity: 0.8;
    stroke: $base-light-dimmed;
    fill: rgba(80, 80, 80, 0.70);
  }
  .progress-year {
    transform: rotate(90deg);
    font-size: 10px;
    font-family: $monospace-fonts;
    fill: #fff;
    display: none;
  }
}

// TO DELETE .explore
.explore {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  // flex-basis: 70% 30%;
  height: 100%;
  & .controls,
  & .chart {
    transition: all 0.6s ease;
  }
  & .controls {
    flex: 1;
  }
  &.view-most-seen-read .chart {
    flex: 0 55%;
  }
  &.browse-single-year .chart {
    flex: 0 40%;
    // background-color: red !important;
  }

  position: relative;
  height: calc(100vh-93px);
  overflow: hidden;
  margin-top: 20px;
  transition: all $animation-rate ease;

  &.browse-single-year {
    // default, for larger screens
    // grid-auto-columns: 30% 70%;

    transition:all $animation-rate ease;
    transition: margin 1200ms;
  }
  .view-most-seen-read & {
    // margin-top: 80px;

    // grid-auto-columns: 55% 45%;
    // flex-basis: 55% 45%;
    transition: all $animation-rate ease;
    // transition: margin 1200ms;
    .most-seen-read {
      opacity: 1;
      display: block;
      animation-name: fadeIn;
      animation-duration: 0.4s;
      animation-fill-mode: both;
      animation-timing-function: ease;
      animation-delay: 0.7s;
      transition:all $animation-rate ease;
    }
  }

  // medium screens
  @media screen and (max-width: $break-medium) {
    grid-auto-columns: 20% 80%;
  }
  // small screens
  @media screen and (max-width: $break-small) {
    padding: 100px 0 0 10px;
    &.browse-single-year {
      grid-auto-columns: 0 auto;
      grid-gap: 0px;
    }
  }

}

// .chart {
//   // background: #aaa; //testing
//   position: sticky;
//   top: 300px;
//   // width: 430px; // 10 column max with in browse modes (default)
//   // left: 40px;
//   justify-items: end;
//   opacity: 1;
//   overflow: hidden;
//   // overflow-y: auto;
//
// }
// .controls {
//   overflow: auto;
//   position: relative;
// }
// .year-plot-container {
//   // position: sticky;
//   // top: 0;
//   float: right;
//   margin-right: 40px;
//   max-width: 430px;
//   margin-left: 40px;
// }
.year-plots {
  margin-left: 30px;
  display: grid;
  grid-template-areas: ". . . . . . . . . ."
  "footer footer footer footer footer footer footer footer footer footer";
  grid-auto-columns: minmax(40px, 90px);
  grid-template-rows: 765px auto;
  transition: width 0.5s ease;
  @include fadeInUpAnimation;
  opacity: 0;
  transition: all 0.5s ease;
  // height: 765px;
  .browse-single-year & {
    grid-auto-columns: minmax(30px, 40px);
    transition: all 0.5s ease;
  }

  // large screens
  @media screen and (min-width: $break-large) {
    // .year-plot.selected-year {
    //   width: 100px;
    // }
    // .year-plot:not(.selected-year) .daily-items li {
    //   transition: width 0.3s ease 0.8s;
    //   &.short-title,
    //   &.medium-title,
    //   &.long-title {
    //     width: 2px;
    //     height: 1px;
    //     margin-right: 1px;
    //     transition: width 0.5s ease;
    //   }
    // }
    // .year-plot .daily-items li {
    //   transition: width 0.3s ease;
    //   &.short-title,
    //   &.medium-title,
    //   &.long-title {
    //     width: 2px;
    //     height: 1px;
    //     margin-right: 1px;
    //     transition: width 0.5s ease;
    //   }
    // }
  }

  @media screen and (max-width: 1200px) {
    // view-most-seen-read, below 1200
    // reduce the width of the daily items chart entries
    // .multi-year-charts {
    //   width: 730px;
    // }
    // .year-plot {
    //   width: 40px;
    // }
    // .year-plot .daily-items li {
    //   transition: width 0.3s ease 0.8s;
    //   &.short-title,
    //   &.medium-title,
    //   &.long-title {
    //     width: 2px;
    //     height: 1px;
    //     margin-right: 1px;
    //     transition: width 0.5s ease;
    //   }
    // }
  }

  // large screens
  @media screen and (max-width: $break-large) {
    // background: pink;
  }

  // small screens
  @media screen and (max-width: $break-small) {
    background: white;
  }

  // medium screens
  @media screen and (max-width: $break-medium) {
    grid-auto-columns: 10% 90%;
    background: gold;
    .year-plot:not(.selected-year) {
      display: none;
    }
  }
}

// horizontal offset for types of list items
$bookOffset: 20;
$playOffset: 15;
$movieOffset: 0;
$shortOffset: 10;
$tvOffset: 5;
$specialOffset: 0;
$defaultOffset: 45;

// scrollable media list
.media-list {
  margin: 5px 0 20px 40px;
  @include fadeInUpAnimation();
  .view-most-seen-read & {
    opacity: 0;
    display: none;
    transition:all $animation-rate ease;
  }

  // base media list item appearance
  $title-color: #3A3938;

  .item {
    position: relative;
    x-justify-content: space-around;
    x-align-items: stretch;
    align-items: center;
    margin-top: 2px;
    padding: 12px 22px;
    background-color: $base-light-dimmed;
    transition:all 0.2s ease;
    font-size: 24px;
    line-height: 1.3;
    width: 60%;
    // max-width: 720px;
    .title {
      flex: 1;
      font-family: $serif-fonts;
      font-weight: 500;
      color: $title-color;
    }
    .credit,
    .year {
      font-family: $serif-fonts;
      color: $title-color;
      opacity: 0.6;
      font-weight: 400;
    }
    .year {
      width: 50px;
      text-align: right;
      margin-left: 10px; // buffer between title and year
    }
    &:hover {
      cursor: pointer;
    }
    &.chart-selection-highlight {
      background-color: $base-highlight;
    }
    // show details on hover
    &:hover,
    &:hover .repeatedDate,
    &.chart-selection-highlight,
    &.chart-selection-highlight .repeatedDate{
      .favorite,
      .type,
      .date,
      .note {
        opacity: 1;
        transition:all 0.2 ease;
      }
      .favorite {
        // color: $base-highlight;
      }
    }
    // shrink for smaller screens
    @media screen and (max-width: $break-medium) {
      font-size: 18px;
    }
    @media screen and (max-width: $break-small) {
      font-size: 14px;
      margin-right: 70px;
      padding: 10px 15px;
    }
  }
  // READ: books and plays
  .play,
  .book,
  .short-story {
    padding: 18px 30px;
    font-family: $serif-fonts;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    .title,
    .credit {
      display: block;
      color: #111;
      flex-grow: 1;
      text-align: left;
    }
    .title {
      width: 100%;
    }
    .credit {
      width: 100%;
      font-weight: 400;
    }
  }
  .book {
    margin-left: $bookOffset+px;
    background-color: $book-color;
  }
  .short-story {
    margin-left: $bookOffset+px;
    background-color: $book-color;
  }
  .play {
    margin-left: $playOffset+px;
    background-color: $play-color;
  }
  // SEEN: TV, movies, shorts
  .tv,
  .movie,
  .short {
    border-radius: 8px;
    .title,
    .year {
      font-family: $sans-fonts;
      color: #fff;
    }
    .title {
      font-weight: 500;
    }
  }
  .tv {
    text-align: center;
    margin-left: $tvOffset+px;
    background-color: $tv-color;
  }
  .movie,
  .short {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    background-color: $movie-color;

    .title,
    .year {
      color: #fff;
    }
    .title {
      flex: 1;
    }
    .year {
      width: 75px;
      @media screen and (max-width: $break-medium) {
        width: 60px;
      }
      @media screen and (max-width: $break-small) {
        width: 45px;
      }
    }
  }
  .movie {
    margin-left: $movieOffset+px;
  }
  .short {
    margin-left: $shortOffset+px;
  }
  // special items: when principal photograpy starts on a Soderbergh project
  .special {
    text-align: center;
    border-radius: 8px;
    background-color: $base-dark;
    padding-top: 25px;
    padding-bottom: 25px;
    .title {
      color: $base-light;
      font-weight: 400;
    }
    &.chart-selection-highlight .title {
      color: #3A3938;
      font-weight: 500;
    }
  }

  // $notesOffset: 760px;
  .details {
    position: absolute;
    display: block;
    // width: 40%;
    width: 300px;
    height: 100%;
    color: $base-light-dimmed;
    padding: 0px 15px 0 $defaultOffset+px;
    top: 0px;
    left: 100%;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-align: left;
    font-family: $monospace-fonts;
    &.repeatedDate .date {
      opacity: 0;
    }
    .date,
    .type {
      font-weight: 300;
      opacity: 0.4;
    }
    .long-date {
      display: inline;
    }
    .short-date {
      display: none;
    }
    .type {
      display: block;
      opacity: 0;
    }
    .note {
      display: block;
      opacity: 0.4;
    }
    @media screen and (max-width: $break-small) {
      right: -50px;
      padding-top: 0px;
      font-size: 14px;
      .note {
        display: none;
      }
      .long-date {
        display: none;
      }
      .short-date {
        display: inline;
      }
    }
  }
  // offset the item details column
  .tv .details {
    padding-left: ($defaultOffset - $tvOffset)+px;
  }
  .movie .details {
    padding-left: ($defaultOffset - $movieOffset)+px;
  }
  .short .details {
    padding-left: ($defaultOffset - $shortOffset)+px;
  }
  .book .details,
  .short-story .details {
    padding-left: ($defaultOffset - $bookOffset)+px;
  }
  .play .details {
    padding-left: ($defaultOffset - $playOffset)+px;
  }
  .special .details {
    padding-left: ($defaultOffset - $specialOffset)+px;
  }

  .favorite {
    display: block;
    position: absolute;
    top: 5px;
    right: 100%;
    font-family: $monospace-fonts;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
    color: $base-light-dimmed;
    padding-right: 6px;
    opacity: 0.4;
  }

  // offset the item favorite column
  // $favoriteOffset: 5;
  // .tv .favorite {
  //   padding-right: ($favoriteOffset + $tvOffset)+px;
  // }
  // .movie .favorite {
  //   padding-right: ($favoriteOffset + $movieOffset)+px;
  // }
  // .short .favorite {
  //   padding-right: ($favoriteOffset + $shortOffset)+px;
  // }
  // .book .favorite,
  // .short-story .favorite {
  //   padding-right: ($favoriteOffset + $bookOffset)+px;
  // }
  // .play .favorite {
  //   padding-right: ($favoriteOffset + $playOffset)+px;
  // }
  // .special .favorite {
  //   padding-right: ($favoriteOffset + $specialOffset)+px;
  // }

  // list item highlight appearance
  .tv,
  .movie,
  .book,
  .short-story,
  .short,
  .play,
  .special {
    &.chart-selection-highlight {
      // background-color: #474642;
      font-weight: bold;
      .title,
      .year,
      .credit {
        color: $base-dark;
      }
      .year,
      .credit {
        font-weight: 400;
      }
    }
  }
}

////////////////////
// YEARLY CHARTS

// year plots
.year-plot {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 0px;
  transition:all $animation-rate ease;
  &.selected-year {
    // background-color: rgba(60,60,60, 0.4);
  }
  .view-most-seen-read &.selected-year {
    background-color: transparent ;
  }
  &:nth-of-type(1) {
    // place month labels
    .daily-items::before {
      font-family: $monospace-fonts;
      position: absolute;
      top: 3px;
      left: -25px;
      color: $base-light;
      font-size: 10px;
      opacity: 0.4;
    }
    .daily-items:nth-of-type(1)::before {
      content: 'JAN';
    }
    .daily-items:nth-of-type(32)::before {
      content: 'FEB';
    }
    .daily-items:nth-of-type(60)::before {
      content: 'MAR';
    }
    .daily-items:nth-of-type(91)::before {
      content: 'APR';
    }
    .daily-items:nth-of-type(121)::before {
      content: 'MAY';
    }
    .daily-items:nth-of-type(152)::before {
      content: 'JUN';
    }
    .daily-items:nth-of-type(182)::before {
      content: 'JUL';
    }
    .daily-items:nth-of-type(213)::before {
      content: 'AUG';
    }
    .daily-items:nth-of-type(244)::before {
      content: 'SEP';
    }
    .daily-items:nth-of-type(274)::before {
      content: 'OCT';
    }
    .daily-items:nth-of-type(305)::before {
      content: 'NOV';
    }
    .daily-items:nth-of-type(335)::before {
      content: 'DEC';
    }
  }
}
.plot-year-label {
  display: block;
  overflow: hidden;
  font-family: $monospace-fonts;
  font-size: 10px;
  font-weight: 500;
  margin: 0 0 8px 7px;
  color: $base-light;
  width: 12px;
  text-indent: -12px;
  text-align: right;
  opacity: 0.5;
  cursor: pointer;
  .selected-year & {
    opacity: 1;
  }
  .view-most-seen-read &,
  .view-most-seen-read .selected-year &,
  .selected-year & {
    width: 24px;
    text-indent: 0;
    opacity: 1;
  }
}

// show item title in chart when hovering
.selected-title-hover {
  position: fixed;
  top: 0;
  left: 20px;
  opacity: 0;
  z-index: 1000;
  background: $base-light;
  border: 1px solid rgba(#111, 0.3);
  color: #3A3938;
}

// display the selected title under the charts with a clear button
.chart-selection-container {
  grid-area: footer;
  text-align: right; // orient non-full with items to the right (expand button)
  // max-width: 430px; // default max-width, change max-width if expanded
  .view-most-seen-read & {
    max-width: none;
  }
}
.chart-selection {
  grid-template-columns: auto 1fr 55px;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  display: none;
  position: relative;
  border: 2px solid $base-highlight;
  color: $base-highlight;
  .type {
    color: $base-highlight;
    opacity: 0.5;
  }
  .right-col {
    word-break: normal;
  }
  .clear-highlight {
    position: absolute;
    top: 15px;
    right: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: $base-highlight;
  }
  .title-highlight & { // show / hide based on parent state
    display: grid;
    .right-col {
      padding-right: 0;
    }
  }
  &.has-title {
    display: grid;
  }
}

// display the title in a hover box of a year plot item
.title-hightlight {
  font-family: $sans-fonts;
  font-size: 16px;
  border-radius: 3px;
  .left-col,
  .right-col {
    display: inline-block;
    padding: 15px 20px;
    text-align: left;
  }
  .left-col {
    .type {
      text-transform: uppercase;
      font-weight: 300;
      opacity: 1;
    }
  }
  .right-col {
    padding-left: 0;
  }
  .type,
  .title {
    font-weight: 500;
  }
}

// a row of watched/read media from a day within a year plot

$chart-item-background: #888584;
.daily-items {
  list-style: none;
  font-family: $monospace-fonts;
  font-size: 1px;
  line-height: 1px;
  margin: 0;
  padding-left: 8px;
  position: relative;
  transition: background-color 0.4s ease;
  &.odd-month,
  .view-most-seen-read .selected-year &.odd-month {
    background-color: lighten($base-dark, 4%);
  }
  .selected-year &.odd-month {
    // background-color: transparent;
  }
  &.on-screen.odd-month,
  &.on-screen {
    background-color: rgba(232,227, 224, 0.25);
    transition: background-color 0.3s ease;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0px 1px 1px 0;
    height: 1px;
    position: relative;
    cursor: pointer;
    padding: 0;
    background-color: $chart-item-background;
    border-radius: 0px;
    text-indent: -99999px;
    // transition: all 0.1s ease;
    z-index: 10;
    .view-most-seen-read &,
    .selected-year & {
      background-color: $base-light-dimmed;
    }
    .view-most-seen-read .title-highlight &,
    .title-highlight & {
      background-color: #666;
    }
    &:hover,
    &.highlight:hover {
      background-color: $base-light-dimmed;
      cursor: pointer;
    }
    &.short-title,
    &.medium-title,
    &.long-title {
      transition: width 0.1s ease;
    }
    &.short-title {
      width: 5px;
    }
    &.medium-title {
      width: 7px;
    }
    &.long-title {
      width: 9px;
    }
    .highlight-movies &.highlight,
    .highlight-tv &.highlight,
    .highlight-books &.highlight,
    .highlight-plays &.highlight,
    &.highlight {
      background-color: $base-light;
      height: 1px;
      z-index: 1;
      opacity: 1;
      transition:all $animation-rate-fast ease;
      &::before {
        content: "";
        position: absolute;
        background-color: $base-highlight;
        opacity: 0.6;
        top: -8px;
        width: 17px;
        height: 17px;
        border-radius: 20px;
        z-index: -1;
        transition:all $animation-rate-fast ease;
      }
    }
    &.short-title.highlight::before,
    &.medium-title.highlight::before,
    &.long-title.highlight::before {
      left: -7px;
    }
    .view-most-seen-read & {
      &.short-title.highlight::before {
        left: -6px;
      }
      &.medium-title.highlight::before {
        left: -5px;
      }
      &.long-title.highlight::before {
        left: -4px;
      }
    }
    // days with no entry
    &.empty-date {
      background-color: #bbb;
      width: 0px;
      height: 2px;
      margin-bottom: 0;
      margin-left: 1px;
    }
    // media highlighting
    .highlight-movies & {
      opacity: 0.3;
      &.item-movie {
        opacity: 1;
        // background-color: $media-highlight-color;
        background-color: $movie-color;
        transition: all 0.3s ease;
      }
    }
    .highlight-books & {
      opacity: 0.3;
      &.item-book {
        opacity: 1;
        // background-color: $media-highlight-color;
        background-color: $book-color;
        transition: all 0.3s ease;
      }
    }
    .highlight-plays & {
      opacity: 0.3;
      &.item-play {
        opacity: 1;
        // background-color: $media-highlight-color;
        background-color: $play-color;
        transition: all 0.3s ease;
      }
    }
    .highlight-tv & {
      opacity: 0.3;
      &.item-tv {
        opacity: 1;
        // background-color: $media-highlight-color;
        background-color: $tv-color;

        transition: all 0.3s ease;
      }
    }
  }
}

////////////////////
// media list color legend

.media-legend {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  @include fadeInUpAnimation;
  span {
    display: block;
    position: relative;
    font-size: 14px;
    font-family: $monospace-fonts;
    font-weight: 400;
    color: #999;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 10px;
      position: absolute;
      top: 3px;
      left: -15px;
    }
  }
  .book-legend::before {
    background-color: $book-color
  }
  .play-legend::before {
    background-color: $play-color
  }
  .movie-legend::before {
    background-color: $movie-color
  }
  .tv-legend::before {
    background-color: $tv-color
  }
  .browse-single-year & {
    display: block;
    transition: all 0.5s ease;
  }
}

// collapsed year plots (default)
.browse-year-lists {
  transition: all 0.5s ease;
  .year-plot {
    // width: 40px;
    transition: all 0.5s ease;
  }
  .plot-year-label {
    font-family: $monospace-fonts;
    font-size: 10px;
    transition: all $animation-rate ease;
  }
  .daily-items {
    position: relative;
  }
  .daily-items li {
    transition: width 0.3s ease;
    &.short-title,
    &.medium-title,
    &.long-title {
      width: 2px;
      height: 1px;
      margin-right: 1px;
      transition: width 0.5s ease;
    }
  }
}

////////////////////
// most seen,read titles
.view-most-seen-read {

}
.most-seen-read {
  h2 {
    color: $base-light;
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    margin: 0 0 20px;
  }
  text-align: left;
  display: none;
  margin: -5px 60px 20px 0;
  padding: 0 20px;
  list-style: none;
  overflow: auto;
  transition: opacity 0.6s ease;
  ul{
    margin-bottom: 30px;
  }
  li {
    display: inline-block;
    margin: 0;
    font-family: $sans-fonts;
    color: $base-light;
    font-size: 12px;
    text-decoration: none;
    padding: 4px 6px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    background-color: rgba($base-dark-lighter, 0.7);
    &.highlight,
    &.highlight:hover {
      background-color: $base-highlight;
      color: #000;
    }
    &:hover {
      background: lighten($base-dark-lighter, 5%);
      cursor: pointer;
    }
  }
  .top-title-type {
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    color: $base-light;
    margin-bottom: 3px;
    a {
      text-decoration: none;
      font-size: 10px;
      display: inline-block;
      span {
        background-color: rgba($base-dark-lighter, 0.7);
        border: 1px solid transparent;
        padding: 4px 6px;
        margin-right: 3px;
        margin-bottom: 0px;
        border-radius: 2px;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: $media-highlight-color;
        &.selected {
          background-color: $media-highlight-color;
          color: $base-dark;
          border: 1px solid $media-highlight-color;
        }
      }
      &:hover {
        text-decoration: underline;
        color: $base-light-dimmed;
      }
    }
  }
}
